# Ignore everything inside these directories
/logs/*
!/logs/.gitkeep

/figures/*

/venv/*
!/venv/.gitkeep

/saved_data/*

/results/estimates/*
!/results/estimates/.gitkeep

/results/metrics/*
!/results/metrics/.gitkeep

/results/NPI results/*
!/results/NPI results/.gitkeep

.DS_Store